<div id="home-page">
    <div class="top">
        <div id="welcome-message"><p><%= @welcome_message %></p></div>
        <h1 class="title">Home Page</h1>
    </div>
    <br>
    <br>
    <br>
    <p style="color: white">Comming Soon...</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p style="color: white">This is to show that scrolling works</p>
</div>
